.kv-editor {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 3px;
  padding: 3px;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 190px;

  &.light {
    color: #333;
    background-color: #FFF;
  }
  &.dark {
    color: #EEE;
    background-color: #444;
  }
}
