.kv-item-edit {
  display: flex;
  flex-flow: column nowrap;

  .row {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;

    input[type=text] {
      border-radius: 3px;
      padding: 5px;
      min-width: 30px;
      width: 100%;
      font-size: 14px;
    }

    .input-key {
      flex: 0 2 auto; /* no grow, shrinks double */
      display: flex;
      margin-right: 3px;
    }

    .input-value {
      flex: 1 1 auto; /* grows, shrinks halve */
      display: flex;
      margin-right: 3px;
    }

    .input-submit {
      flex: 0 1 auto;
      cursor: pointer;
      border-radius: 3px;
      padding: 4px;
      width: 32px;
      height: 32px;
    }
  }

  .error {
    margin: 5px 0;
    text-align: left;
  }

  &.light {
    .row {
      input[type=text] {
        background-color: #FFF;
        border: solid 1px #DDD;
        color: #222;

        &::placeholder {
          color: #BBB;
        }
      }

      input:focus {
        border: solid 1px #999;
        outline: none;
      }

      .input-submit {
        background: #EEE url('icons/plus-light.svg') no-repeat center center;
        border: solid 1px #DDD;
        color: #333;

        &:hover {
          background-color: #CCC;
        }
      }
    }

    .error {
      color: #F00;
    }
  }

  &.dark {
    .row {
      input[type=text] {
        background-color: #888;
        border: solid 1px #333;
        color: #FFF;

        &::placeholder {
          color: #BBB;
        }
      }

      input:focus {
        border: solid 1px #222;
        outline: none;
      }

      .input-submit {
        background: #666 url('icons/plus-dark.svg') no-repeat center center;
        border: solid 1px #333;
        color: #CCC;

        &:hover {
          background-color: #555;
        }
      }
    }

    .error {
      color: #F66;
    }
  }
}
