.kv-item-edit {
  display: flex;
  flex-flow: column nowrap;

  .row {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;

    input[type=text] {
      border-radius: 3px;
      padding: 5px;
      border: solid 1px #DDD;
      min-width: 30px;
      width: 100%;
      color: #333;

      &::placeholder {
        color: #BBB;
      }
    }

    input:focus {
      border: solid 1px #999;
      outline: none;
    }
  }

  .input-key {
    flex: 0 2 auto; /* no grow, shrinks double */
    display: flex;
    margin-right: 5px;
  }

  .input-value {
    flex: 1 1 auto; /* grows, shrinks halve */
    display: flex;
    margin-right: 5px;
  }

  .input-submit {
    flex: 0 1 auto;
    cursor: pointer;
    border-radius: 3px;
    border: solid 1px #DDD;
    color: #333;
  }

  .error {
    color: red;
    margin: 5px 0;
    font-size: 14px;
  }
}
