.kv-item-view {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 5px;
  flex: 1;

  .key-value {
    flex: 1 1 auto;
    margin-right: 5px;
    overflow: auto;
    padding: 3px;
    border-radius: 3px;

    .key {
      font-weight: 600;
      padding: 3px 5px;
      display: inline-block;
      background-color: #888;
      color: white;
      margin-right: 3px;
      border-radius: 3px 0 0 3px;
    }
  }

  .submit {
    flex: 0 0 auto;
    cursor: pointer;
    border-radius: 3px;
  }

  &.light {
    .key-value {
      background-color: #FFF;
      border: solid 1px #DDD;

      .key {
        background-color: #888;
        color: white;
      }
    }

    .submit {
      background-color: #EEE;
      border: solid 1px #DDD;
      color: #333;

      &:hover {
        background-color: #CCC;
      }
    }
  }
  &.dark {
    .key-value {
      background-color: #888;
      border: solid 1px #333;

      .key {
        background-color: #EEE;
        color: #222;
      }
    }

    .submit {
      background-color: #666;
      border: solid 1px #333;
      color: #BBB;

      &:hover {
        background-color: #555;
      }
    }
  }
}
