.kv-item-view {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 3px;
  flex: 1;

  .key-value {
    flex: 1 1 auto;
    padding: 3px;
    border-radius: 3px;
    display: flex;
    flex-flow: row nowrap;
    min-width: 0;
    width: 100%;

    .key {
      font-weight: 600;
      padding: 3px 5px;
      margin-right: 3px;
      border-radius: 3px 0 0 3px;
    }
    .value {
      outline: none;
      flex: 1 1 auto;
      box-sizing: border-box;
      width: 100%;
    }
  }
  .remove, .save {
    flex: 0 0 auto;
    cursor: pointer;
    border-radius: 3px;
    padding: 4px;
    width: 32px;
    margin-left: 3px;
  }

  &.light {
    .key-value {
      background-color: #FFF;
      border: solid 1px #DDD;

      .key {
        background-color: #888;
        color: white;
      }
      .value {
        border: solid 1px #FFF;
        background-color: #FFF;
        color: #333;
      }
      &.key-id, &.key-disabled {
        background-color: #EEE;

        .value {
          border: solid 1px #EEE;
          background-color: #EEE;
        }
      }
      &.key-id {
        .key {
          background-color: #A00;
        }
      }
    }
    .remove {
      background: #EEE url('icons/bin-light.svg') no-repeat center center;
    }
    .save {
      background: #EEE url('icons/checkmark-light.svg') no-repeat center center;
    }
    .remove, .save {
      border: solid 1px #DDD;
      color: #333;

      &:hover {
        background-color: #CCC;
      }
    }
  }
  &.dark {
    .key-value {
      background-color: #888;
      border: solid 1px #333;

      .key {
        background-color: #EEE;
        color: #222;
      }
      .value {
        border: solid 1px #888;
        background-color: #888;
        color: #FFF;
      }
      &.key-id, &.key-disabled {
        background-color: #666;

        .value {
          border: solid 1px #666;
          background-color: #666;
        }
      }
      &.key-id {
        .key {
          background-color: #F99;
        }
      }
    }
    .remove {
      background: #666 url('icons/bin-dark.svg') no-repeat center center;
    }
    .save {
      background: #666 url('icons/checkmark-dark.svg') no-repeat center center;
    }
    .remove, .save {
      border: solid 1px #333;
      color: #CCC;

      &:hover {
        background-color: #555;
      }
    }
  }
}
