.kv-item-view {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 5px;
  flex: 1;
  /*line-height: 30px;*/

  .key-value {
    flex: 1 1 auto;
    margin-right: 5px;
    border: solid 1px #DDD;
    overflow: auto;
    padding: 3px;
    border-radius: 3px;
    /*white-space: nowrap;
    text-overflow: ellipsis;
    hyphens: manual;*/

    .key {
      font-weight: 600;
      padding: 3px 5px;
      display: inline-block;
      background-color: #888;
      color: white;
      margin-right: 3px;
      border-radius: 3px 0 0 3px;
    }
  }

  .submit {
    flex: 0 0 auto;
    cursor: pointer;
    border-radius: 3px;
    border: solid 1px #DDD;
    color: #333;
  }
}
